body {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
}

nav {
  padding-top: 30px;
  font-size: 1.3rem;
}

footer {
  padding-top: 30px;
  text-align: center;
}

.logo {
  padding-top: 20px;
  padding-bottom: 20px;
  max-width: 600px;
  max-height: 600px;
  display: flex;
  justify-content: center;

  img {
    width: 80%;
    height: 80%;
  }
}

.container {
  max-width: 500px;
}

.background {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 0;
  padding: 50% 0;
  border-radius: 50%;
  background-color: #37766C;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.submit-button {
  margin-top: 20px;
  padding: 10px;
  color: white;
  background-color: #37766C;
  border: 10px white solid;
  cursor: pointer;
}


@media (max-width: 480px) {
  p {
    font-size: .7em;
    padding: 10px;
  }

  .submit-button {
    padding: 5px;
    border: 6px white solid;
    font-size: .8em;
  }

}